
@{
    ViewBag.Title = "PersonView";
}

<h2>PersonView</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Species</th>
        <th>Gender</th>
        <th>Home Planet</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Species</td>
        <td>@Model.Gender</td>
        <td>@Model.HomePlanet</td>
    </tr>
</table>
