
@{
    ViewBag.Title = "PlanetForm";
}

<h2>PlanetForm</h2>

<form action="../Home/Planet" method="post">
    <label for="ID">ID, You Must Enter: </label>
    <input id="ID" type="number" min="2" max="11" name="i" placeholder="ID" />
    <input type="submit" value="Find Planet!" class="btn-success" />
</form>